<div class="container-fluid text-light d-flex 
            justify-content-center align-items-center">
        <h1 class="h1 text-uppercase  fst-italic">header</h1>
        
</div>
<nav class="navbar">
    <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Bài tập buổi 2
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="color-object">Colored Object</a></li>
              <li><a class="dropdown-item" routerLink="insert-dash">Insert Dash</a></li>
              <li><a class="dropdown-item" routerLink="math-expression">Math Expression</a></li>
              <li><a class="dropdown-item" routerLink="student-info">Student Info</a></li>
              <li><a class="dropdown-item" routerLink="hook-demo">Hook Demo</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown ml-4">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Bài tập buổi 3
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="reactive-form-component">Reactive Form</a></li>
            </ul>
        </li>

    </ul>
</nav>